[Desktop Entry]
Name=INDRA
Exec=/usr/lib/indra/INDRA %U
Icon=/usr/share/pixmaps/indra.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;